class {{FORMULA_CLASS}} < Formula
  desc "Unofficial JavDB app API command-line client"
  homepage "https://github.com/FlanChanXwO/javdb-cli"
  version "{{VERSION}}"
  license "MIT"

  on_macos do
    if Hardware::CPU.arm?
      url "{{DARWIN_ARM64_URL}}"
      sha256 "{{DARWIN_ARM64_SHA256}}"
    else
      url "{{DARWIN_AMD64_URL}}"
      sha256 "{{DARWIN_AMD64_SHA256}}"
    end
  end

  on_linux do
    if Hardware::CPU.arm?
      url "{{LINUX_ARM64_URL}}"
      sha256 "{{LINUX_ARM64_SHA256}}"
    else
      url "{{LINUX_AMD64_URL}}"
      sha256 "{{LINUX_AMD64_SHA256}}"
    end
  end

  def install
    bin.install "javdb"
  end

  test do
    assert_match "javdb version #{version}", shell_output("#{bin}/javdb --version")
  end
end
